
<div class="notice notice-info">
  The <strong>votePercents.length</strong> return the length of votePercents.
</div>
<div class="notice notice-info">
  Array indexing starts with 0 in Java. <strong><=</strong> should be <strong><</strong> in this program.
</div>
<div class="notice notice-info">
  The most commonly used Integer data type in Java is <strong>int</strong>.
</div>
<div class="notice notice-info">
 <strong>== (equal to)</strong> Checks if the values of two operands are equal or not, if yes then condition becomes true.
</div>
