<div class="notice notice-info">
  A <strong>class</strong> (not Object or object) is a blueprint from which individual objects are created.
</div>
<div class="notice notice-info">
  The <strong>new</strong> (not New) keyword is a Java operator that creates the object.
</div>
<div class="notice notice-info">
  Any method declared <strong>void</strong> doesn't return a value.
</div>
<div class="notice notice-info">
  <strong>; (Semicolon)</strong> semicolon ends a statement, not function declaration.
</div>
