<div class="notice notice-info">
  Within the body of the method, you use the <strong>return statement</strong> to return the value.
  a return statement can be used to branch out of a control flow block and exit the method and is simply used like <strong>return;</strong>.
</div>
<div class="notice notice-info">
  The <strong>boolean</strong> data type has only two possible values: true and false. Use this data type for simple flags that track true/false conditions.
</div>
<div class="notice notice-info">
  <strong>+ (Addition)</strong> Adds values on either side of the operator. <strong>+=</strong> Add AND assignment operator. It adds right operand to the left operand and assign the result to left operand.
</div>
<div class="notice notice-info">
  The <strong>String</strong> class represents character strings. The <strong>String[]</strong> represents an array of String.
</div>
