<div class="notice notice-info">
  Java cannot convert from int to String.
</div>
<div class="notice notice-info">
 <strong>3_min</strong> is not a valid name in Java. By convention, method names should be a verb in lowercase or a multi-word name that begins with a verb in lowercase, followed by adjectives, nouns, etc. In multi-word names, the first letter of each of the second and following words should be capitalized.
</div>
<div class="notice notice-info">
  The most commonly used Integer data type in Java is <strong>int</strong>.
</div>
<div class="notice notice-info">
  The Java main method declaration is, <br>
  <strong>public static void main(String[] args)</strong>
</div>
<div class="notice notice-info">
  <strong>{ } Braces</strong> are used to group statements and declarations. There must be equal numbers of opening and close braces.
</div>
