<div class="notice notice-info">
  <strong>+ (Addition)</strong> Adds values on either side of the operator. <strong>- (Subtraction)</strong> Subtracts right-hand operand from left-hand operand.
</div>
<div class="notice notice-info">
  The most commonly used <strong>Integer</strong> data type in Java is <strong>int</strong>.
</div>
<div class="notice notice-info">
  <strong>; (Semicolon)</strong> ends a statement, not function declaration.
</div>
