<div class="notice notice-info">
  A <strong>class</strong> is a blueprint from which individual objects are created.
</div>
<div class="notice notice-info">
  <strong>+ </strong> is a way for String concatination in Java, not *.
</div>
<div class="notice notice-info">
  The <strong>String</strong> class represents character strings.
</div>
<div class="notice notice-info">
  <strong>; (Semicolon)</strong> ends a statement, not function declaration.
</div>
