<div class="notice notice-info">
  <strong>* (Multiplication)</strong> Multiplies values on either side of the operator.<strong>% (Modulus)</strong> Divides left-hand operand by right-hand operand and returns remainder.
</div>
<div class="notice notice-info">
  <strong>!= (not equal to)</strong> Checks if the values of two operands are equal or not, if values are not equal then condition becomes true. <strong>== (equal to)</strong> Checks if the values of two operands are equal or not, if yes then condition becomes true.
</div>
<div class="notice notice-info">
  The Java main method declaration is, <br>
  <strong>public static void main(String[] args)</strong>
</div>
