<div class="notice notice-info">
  The Java main method declaration is, <br>
  <strong>public static void main(String[] args)</strong>
</div>
<div class="notice notice-info">
  <strong>; (Semicolon)</strong> semicolon ends a statement, not function declaration.
</div>
<div class="notice notice-info">
  <strong>{ } Braces</strong> are used to group statements and declarations. There must be equal numbers of opening and close braces.
</div>
