<div class="notice notice-info">
  <strong>+ (Addition)</strong> Adds values on either side of the operator. <strong>++ (Increment)</strong> Increases the value of operand by 1.
</div>
<div class="notice notice-info">
  The most commonly used Integer data type in Java is <strong>int</strong>.
</div>
<div class="notice notice-info">
  <strong>; (Semicolon)</strong> ends a statement, not function declaration.
</div>
