<div class="notice notice-info">
  <strong>></strong> creates a semantic error in the program.
</div>
<div class="notice notice-info">
  <strong>-- (Decrement)</strong> Decreases the value of operand by 1. <strong>- (Subtraction)</strong> Subtracts right-hand operand from left-hand operand..
</div>
<div class="notice notice-info">
  The <strong>String</strong> class represents character strings.
</div>
<div class="notice notice-info">
  <strong>; (Semicolon)</strong> ends a statement, not function declaration.
</div>
