<div class="notice notice-info">
  A <strong>class</strong> is a blueprint from which individual objects are created.
</div>
<div class="notice notice-info">
  Any method declared <strong>void</strong> doesn't return a value.
</div>
<div class="notice notice-info">
  <strong>; (Semicolon)</strong> semicolon ends a statement, not function declaration.
</div>
<div class="notice notice-info">
  <strong>+ (Addition)</strong> Adds values on either side of the operator. <strong>++ (Increment)</strong> Increases the value of operand by 1.
</div>
