<div class="notice notice-info">
  The <strong>boolean</strong> data type has only two possible values: true and false. Use this data type for simple flags that track true/false conditions.
</div>
<div class="notice notice-info">
  Any method declared <strong>void</strong> doesn't return a value.
</div>
<div class="notice notice-info">
  The <strong>String</strong> class represents character strings.
</div>
<div class="notice notice-info">
  <strong>; (Semicolon)</strong> ends a statement, not function declaration.
</div>
