<div class="notice notice-info">
  <strong><= </strong> Creates semantic error. It should be <strong>< </strong>.
</div>
<div class="notice notice-info">
  The most commonly used <strong>Integer</strong> data type in Java is <strong>int</strong>.
</div>
<div class="notice notice-info">
  <strong>/ (Division)</strong> Divides left-hand operand by right-hand operand. <strong>% (Modulus)</strong> Divides left-hand operand by right-hand operand and returns remainder.
</div>
<div class="notice notice-info">
  <strong>!= (not equal to)</strong> Checks if the values of two operands are equal or not, if values are not equal then condition becomes true. <strong>== (equal to)</strong> Checks if the values of two operands are equal or not, if yes then condition becomes true.
</div>
