<div class="notice notice-info">
Any method that is not declared void must contain a <strong>return statement</strong> with a corresponding return value, like:
<br>
<strong>
return returnValue;
</strong>
</div>
<div class="notice notice-info">
  <strong>+ (Addition)</strong> Adds values on either side of the operator. <strong>++ (Increment)</strong> Increases the value of operand by 1.
</div>
<div class="notice notice-info">
  <strong>; (Semicolon)</strong> semicolon ends a statement, not function declaration.
</div>
<div class="notice notice-info">
  The most commonly used <strong>Integer</strong> data type in Java is <strong>int</strong>.
</div>
