@import "bootstrap";
/* main container */

p,h4,h3 {
  color: white;
  max-width:100%;
}
#index-title {
  color: #FF6600;
}

#index-logo {
  max-width: 50%;
}
#new-logo {
  max-width: 25%;
  display: block;
    margin-left: 38%;
    margin-right: 37%;
}

#item-notcompleted {
  opacity: 0.5;
  width: 25%;
}

#item-completed {
  width: 25%;
}

#index-button {
  // margin-left: 30%;
  // margin-right: 30%;
  background-color: #660000;
  border-color: #660000;
  color:white;
  width: 40% !important;
}

.jumbotron.text-center {
  height:100%;
  background-color: #646464;
  max-width:100%;
}
.custom-notify {
    position: fixed;
    top: 40%;
    right: 20%;
    left: 20%;
}
/* message box */
.custom-notify .callout {
    position: relative;
    overflow: hidden;
}
/* classes applied for animating in/out */
.custom-notify .ember-notify-show {}
.custom-notify .ember-notify-hide {}

.ember-application {
  background-color: #646464;
}

.levels {
  clear: both;
  padding: 5px;
  margin-bottom: 0;
}

#beginner-item {
  display: inline;
/*  margin-left: 5px;
  margin-right: 5px;*/
  background-color: maroon;
  margin: 0 5px; padding: 0;
}

#code-content {
  margin: 0 auto;
   text-align: left;
  background-color: #404039;
  text-decoration-color: #FF6600;
  word-wrap:break-word;
}

#code {
  max-width: 100%;
  margin-left:0px;
  word-wrap:break-word;
   display:inline-block;
}

#details-page{
  max-width: 100%;

}
