@import "bootstrap";
/* main container */

h4,h3 {
  color: white;
  max-width:100%;
}

p {
  color: white;
  max-width:100%;
  margin-left: 5px;
  margin-right: 5px;
}

pre {
  background-color: #333333;
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  padding-top: 0;
}

#p-code {
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
  padding-top: 0;
}

#index-title {
  color: #FF6600;
}

#index-logo {
  max-width: 50%;
}
#new-logo {
  max-width: 25%;
  display: block;
  margin-left: 38%;
  margin-right: 37%;
}

.item-notcompleted {
  opacity: 0.5;
  width: 25%;
  pointer-events: none;
  cursor: default;
}
.item-completed {
  width: 25%;
}

.survey-notcompleted {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}
.survey-completed {
  width: 25%;
}

#index-button {
  // margin-left: 30%;
  // margin-right: 30%;
  background-color: #660000;
  border-color: #4d0000;
  color: white;
  width: 40% !important;
  margin-top: 10px;
}

#index-button:hover {
  background-color: #FF6600;
  border-color: #E65C00;
  color: black;
}

.jumbotron.text-center {
  height:100%;
  background-color: #646464;
  max-width:100%;
}
.custom-notify {
    position: fixed;
    top: 40%;
    right: 20%;
    left: 20%;
    z-index: 1;
}
/* message box */
.custom-notify .callout {
    position: relative;
    overflow: hidden;
}
/* classes applied for animating in/out */
.custom-notify .ember-notify-show {}
.custom-notify .ember-notify-hide {}

.ember-application {
  background-color: #646464;
}

.levels {
  clear: both;
  padding: 5px;
  margin-bottom: 0;
}

#beginner-item {
  display: inline;
/*  margin-left: 5px;
  margin-right: 5px;*/
  background-color: maroon;
  margin: 0 5px; padding: 0;
}

#code-content {
  margin: 0 auto;
  text-align: left;
  background-color: #404039;
  text-decoration-color: #FF6600;
  word-wrap:break-word;
}

#code {
  max-width: 100%;
  margin-left:0px;
  word-wrap:break-word;
  display:inline-block;
}

#details-page{
  max-width: 100%;
}

.jumbotron p {
  margin-bottom: 0;
}

.user-pass {
  margin-bottom: 0;
  text-align: left;
}

#survey{
  background-color: #FF6600;
  border-color: #E65C00;
  color: black;
  margin-right: 30%;
  margin-left: 30%;
  width: 35%;
  margin-top: 10px;
  margin-bottom: 10px;
}


#play{
  text-align: center;
  background-color: #660000;
  margin-left:30%;
  margin-right:30%;
  max-width:40%;
  border-color: #4d0000;
  display: block;
  color: white;
  margin-bottom: 0px;
}

#play:hover {
  background-color: #FF6600;
  border-color: #E65C00;
  color: black;
}

#signup{
  text-align: center;
  background-color: #660000;
  margin-left:30%;
  margin-right:30%;
  max-width:40%;
  border-color: #4d0000;
  color: white;
  display:block;
  margin-bottom: 0px;
}

#signup:hover {
  background-color: #FF6600;
  border-color: #E65C00;
  color: black;
}

#confirm-button {
  background-color: #660000;
  border-color: #4d0000;
  color: white;
}

#confirm-button:hover {
  background-color: #FF6600;
  border-color: #E65C00;
  color: black;
}

#logout {
  float: right;
  margin-right: 10px;
  //margin-top: 10px;
  background-color: #660000;
  border-color: #4d0000;
  color: white;
  padding-top: 1px;
  padding-bottom: 0px;
  display: block;
}

#logout:hover {
  background-color: #FF6600;
  border-color: #E65C00;
  color: black;
}

#login {
  float: right;
  margin-right: 10px;
  background-color: #660000;
  border-color: #4d0000;
  color: white;
  padding-top: 1px;
  padding-bottom: 0px;
  display: block;
  padding-top: 1px;
  padding-bottom: 0px;
}

#login:hover {
  background-color: #FF6600;
  border-color: #E65C00;
  color: black;
  padding-top: 1px;
  padding-bottom: 0px;
}

#profile {
  margin-left: 10px;
  margin-top: 10px;
  background-color: #660000;
  border-color: #4d0000;
  color: white;
  padding-top: 1px;
  padding-bottom: 0px;
  display: block;
}

#profile:hover {
  background-color: #FF6600;
  border-color: #E65C00;
  color: black;
}

#signup-login {
  float: left;
  color: #FF6600;
  text-decoration: underline;
}

#signup-login:hover {
  color: #660000;
  text-decoration: underline;
}

#skip-survey {
  color: #660000;
  text-decoration: underline;
  border: none;
  padding: 0;
  background: none;
}

#skip-survey:hover {
  color: #FF6600;
  text-decoration: underline;
}

#signup-consent {
  color: #FF6600;
  text-decoration: underline;
}

#signup-consent:hover {
  color: #660000;
  text-decoration: underline;
}

#start-button{
  background-color: #FF6600;
  border-color: #E65C00;
  padding-top: 1px;
  padding-bottom: 0px;
  display: block;
  color: black;
  // margin-bottom: 20%;
}

#retry-button{
  background-color: #660000;
  border-color: #4d0000;
  padding-top: 1px;
  padding-bottom: 0px;
  color: white;
  // margin-bottom: 20%;
}

#back-button{
  background-color: #660000;
  border-color: #4d0000;
  padding-top: 1px;
  padding-bottom: 0px;
  color: white;
  display: block;
}

#back-button:hover {
  background-color: #FF6600;
  border-color: #E65C00;
  color: black;
}

#submit-consent {
  background-color: #660000;
  border-color: #4d0000;
  padding-top: 1px;
  padding-bottom: 0px;
  color: white;
  display: block;
  margin-left: 20px;
}

#submit-consent:hover {
  background-color: #FF6600;
  border-color: #E65C00;
  color: black;
}



#back{
  background-color: #660000;
  border-color: #4d0000;
  padding-top: 1px;
  padding-bottom: 0px;
  color: white;
  display: block;
  margin-top: 10px;
}

#back:hover {
  background-color: #FF6600;
  border-color: #E65C00;
  color: black;
}

#signup-submit {
  background-color: #660000;
  border-color: #4d0000;
  color: white;
}

#signup-submit:hover {
  background-color: #FF6600;
  border-color: #E65C00;
  color: black;
}

#survey:hover,
#survey-submit:hover {
  background-color: #660000;
  border-color: #4d0000;
  color: white;
}

#consent-box {
  overflow-y: scroll;
  //height: 800px;
  resize: none;
  text-align: justify;
  text-justify: inter-word;
}

#consent-title {
  color: #FF6600;
  text-align: center;
}

#about {
  text-align: justify;
  text-justify: inter-word;
}

.name {
  color: #660000;
}

.keyword {
  color: #FF6600;
}

.survey-next {
  background-color: #660000;
  border-color: #4d0000;
  color: white;
}

.survey-next:hover {
  background-color: #FF6600 !important;
  border-color: #E65C00 !important;
  color: black;
}

#contact-us {
  color: white;
  text-decoration: underline;
  margin-left: 5px;
}

#contact-us:hover {
  color: black;
  text-decoration: underline;
}

#about-us {
  color: white;
  text-decoration: underline;
}

#about-us:hover {
  color: black;
  text-decoration: underline;
}

#privacy {
  color: white;
  text-decoration: underline;
  margin-left: 10px;
}

#aprivacy:hover {
  color: black;
  text-decoration: underline;
}

.consent-form {
  display: block;
  margin-left: 20px;
}

#privacy-link {
  float: left;
  color: #660000;
  text-decoration: underline;
}

#privacy-link:hover {
  color: #FF6600;
  text-decoration: underline;
}

html,body {padding:0;margin:0; height:100%;}
.wrap {
  font:12px Arial, san-serif;
}
h1.likert-header {
  padding-left:4.25%;
  margin:20px 0 0;
}
form .statement {
  display:block;
  font-size: 14px;
  font-weight: bold;
  padding: 30px 0 0 4.25%;
  margin-bottom:10px;
}

form .beginner-statement {
  display:block;
  font-size: 14px;
  font-weight: bold;
  padding: 30px 0 0 4.25%;
  margin-bottom:10px;
  color: #660000;
}
form .likert {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #660000;
}
form .likertt {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #660000;
}
form .likert:last-of-type {border-bottom:0;}
form .likert:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;

}
form .likert li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
}
form .buttons button {
  padding: 5px 10px;
  background-color: #FF6600;
  border: 0;
  border-radius: 3px;
}
form .buttons .clear {background-color: #e9e9e9; color: black;}
form .buttons .submit {background-color: #FF6600; color: black;}
form .buttons .clear:hover {background-color: #ccc;}
form .buttons .submit:hover {background-color: #14892c;}


@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

.container {
//	max-width:400px;
	width:100%;
  height: 100vh;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
  color: black;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

// #contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
// 	-webkit-transition:border-color 0.3s ease-in-out;
// 	-moz-transition:border-color 0.3s ease-in-out;
// 	transition:border-color 0.3s ease-in-out;
// 	border:1px solid #AAA;
//   background-color: #FF6600;
// }

#contact textarea {
	height:100px;
	max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
	cursor:pointer;
	width:100%;
	border:none;
	background:#660000;
  border-color: #4d0000;
	color: white;
	margin:0 0 5px;
	padding:10px;
	font-size:15px;
}

#contact button[type="submit"]:hover {
	background-color: #FF6600;
  border-color: #E65C00;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

// #contact input:focus, #contact textarea:focus {
// 	outline:0;
// 	border:1px solid #999;
// }
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}


/* only demo styles */



/* end only demo styles */

.checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
    position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    background: rebeccapurple;
    box-shadow: inset 0px 0px 0px 4px #fff;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    background: #ccc;
    box-shadow: inset 0px 0px 0px 4px #fff;
}


.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd; /* focus style */
}

.radio-class {
  display: block;
}

#input-other {
  width: 20px;
}

#beginner-one,
#beginner-two,
#beginner-three,
#beginner-four,
#beginner-five,
#beginner-six {
  display: none;
}

/*Make yellow stars for the score*/
.star-icon {
  color: #ddd;
  font-size: 5vmin;
  position: relative;
}

.hide-star-icon {
  display: none;
}

.star-icon {
  color: #ddd;
  font-size: 5vmin;
  position: relative;
}

.star-icon.full:before {
  text-shadow: 0 0 0px rgba(0,0,0,0.7);
  color: #FDE16D;
  content: '\2605';
  position: absolute;
  left: 0;
}

.next-level-none {
  display: none;
  // margin-bottom: 20%;
}

.next-level {
  display: block;
  // margin-bottom: 20%;
}

#next-button {
  background-color: #FF6600;
  border-color: #E65C00;
  padding-top: 1px;
  padding-bottom: 0px;
  display: block;
  color: black;
  // margin-bottom: 20%;
}

.notice {
    padding: 15px;
    background-color: #fafafa;
    border-left: 6px solid #7f7f84;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
}
.notice-sm {
    padding: 10px;
    font-size: 80%;
}
.notice-lg {
    padding: 35px;
    font-size: large;
}
.notice-success {
    border-color: #80D651;
}
.notice-success>strong {
    color: #80D651;
}
.notice-info {
    border-color: #4d0000;
}
.notice-info>strong {
    color: #660000;
}
.notice-warning {
    border-color: #FEAF20;
}
.notice-warning>strong {
    color: #FEAF20;
}
.notice-danger {
    border-color: #d73814;
}
.notice-danger>strong {
    color: #d73814;
}

#footer{
  width: 100%;
  text-align: center;
  color: white;
  height: 60px;
  overflow: auto;
  bottom:0;
  width:100%;
}

#footer-content{
  display: block;
  margin: 0 auto;
  overflow: auto;
}

#footer label{
  display: inline;
  /*font-size: 15px;*/
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
//  font-family: Arial Narrow, sans-serif;
}

#footer button{
  border: none;
  background: transparent;
  text-decoration: underline;
//  font-size: 15px;
  padding-left: 10px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
//  font-family: "Lucida Grande", Geneva, Verdana, Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
}
/*Change button text color on hover*/
#footer button:hover{
  color: red;
}
/*No selection color around the button when button is clicked*/
#footer button:focus{
  outline: 0;
}

#footer label{
  margin-left: 15px;
//  font-size: 16px;

}

#consent-checkbox {
  zoom: 1.5;
}

@media all and (max-width: 400px){
  #footer{
    height: 70px;
  }

  #footer button{
    margin: 0;
  }
  #footer label{
    padding-bottom: 5px;
  }

  .container {
  	max-width:400px;
  	width:100%;
  	margin:0 auto;
  	position:relative;
  }
}
