@import "bootstrap";
/* main container */

h4,h3 {
  color: white;
  max-width:100%;
}

#index-title {
  color: #FF6600;
}

#index-logo {
  max-width: 50%;
}
#new-logo {
  max-width: 25%;
  display: block;
    margin-left: 38%;
    margin-right: 37%;
}

#level-logo {
  max-width: 25%;
  display: block;
    margin-left: 38%;
    margin-right: 37%;
    margin-top: 0px;
}

#item-notcompleted {
  opacity: 0.5;
  width: 25%;
}

.item-completed {
  width: 25%;
}

#index-button {
  // margin-left: 30%;
  // margin-right: 30%;
  background-color: #660000;
  border-color: #660000;
  color:white;
  width: 40% !important;
}

#continue-button {
  // margin-left: 30%;
  // margin-right: 30%;
  background-color: #660000;
  border-color: #660000;
  color:white;
  width: 40% !important;
}

.jumbotron.text-center {
  height:100%;
  background-color: #646464;
  max-width:100%;
}
.custom-notify {
    position: fixed;
    top: 20%;
    right: 20%;
    left: 20%;
}
/* message box */
.custom-notify .callout {
    position: relative;
    overflow: hidden;
}
/* classes applied for animating in/out */
.custom-notify .ember-notify-show {}
.custom-notify .ember-notify-hide {}

.ember-application {
  background-color: #646464;
}

.levels {
  clear: both;
  padding: 5px;
  margin-bottom: 0;
}

.star-icon {
    color: #ddd;
    font-size: 2em;
    position: relative;
}
.star-icon.full:before {

    text-shadow: 0 0 2px rgba(0,0,0,0.7);
    color: #FDE16D;
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    left: 0;
}
.star-icon.half:before {
    text-shadow: 0 0 2px rgba(0,0,0,0.7);
    color: #FDE16D;
    content: '\2605'; /* Full star in UTF-8 */
    position: absolute;
    left: 0;
    width: 50%;
    overflow: hidden;
}
@-moz-document url-prefix() { /* Firefox Hack :( */
  .star-icon {
    font-size: 50px;
    line-height: 34px;
  }
}

#beginner-item {
  display: inline;
/*  margin-left: 5px;
  margin-right: 5px;*/
  background-color: maroon;
  margin: 0 5px; padding: 0;
}

#code-content {
  // color: transparent;
  // text-shadow: 0 0 5px rgba(0,0,0,0.5);
  display: none;
  max-width:100%;
}
#timer {
  margin-left: 40%;
}

#start-button {
  background-color: #660000;
  border-color: #660000;
  color:white;
  max-width: 40% ;

}
