<div class="jumbotron text-center">
<h1>CodeReadingDojo</h1>
<h4>A new and fun way to find bugs!</h4>
<img src="assets/images/logo.png" >
<br/><br/>

<h3>Welcome!</h3>

  CodeReadingDojo is an educationally-oriented Android game aimed at promoting code reading skills.

<div class="form-horizontal form-group form-group-lg row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-3 col-sm-4 col-md-6">
      {{#link-to 'login' class="btn btn-primary btn-lg btn-block" }}Sign Up{{/link-to}}
    </div>

</div>


    {{#if responseMessage}}
      <div class="alert alert-success">{{responseMessage}}</div>
    {{/if}}


    <br/><br/>
</div>
