{{#unless session.isAuthenticated}}
  <div class="alert alert-info">
    In order to save your information you need to {{#link-to 'login' classNames='alert-link'}}log in{{/link-to}}.
  </div>
{{/unless}}


<div class="jumbotron text-center">
    <h1>CodeReadingDojo</h1>

    <br/><br/>


    <div class="form-horizontal form-group form-group-lg row">


        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-3 col-sm-4 col-md-6">
          {{#link-to 'login' class="btn btn-primary btn-lg btn-block" }}Login and Play{{/link-to}}
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-3 col-sm-4 col-md-6">
          {{#link-to 'new' class="btn btn-info btn-lg btn-block" }}Practice{{/link-to}}
        </div>

    </div>


    {{#if responseMessage}}
      <div class="alert alert-success">{{responseMessage}}</div>
    {{/if}}


    <br/><br/>
</div>
