<div class="container" id="about">
  {{#link-to 'new' class="btn btn-primary" id="back" tagName="button"}}
    Back
  {{/link-to}}
  {{#link-to 'new'}}
    <img id="new-logo" src="assets/images/logo.png">
  {{/link-to}}
<h2 id="consent-title">About CodeReadingDojo</h2>
<p>

I am <strong class="name">Zahra Ghaed</strong>, a master's student at the department of <strong class="keyword">Computer Science at Virginia Tech</strong>. I am working under the supervision of <strong class="name">Professor Stephen Edwards</strong> and CodeReadingDojo is part of my Master's research.
</p>
<p>
<strong class="keyword">CodeReadingDojo</strong> is a new educationally-oriented mobile game application aimed at promoting the development of reading codes and finding errors in a new and fun way. It is accessible through Google Play Store and Apple Store for all students who are interested in improving their code reading skills. Of the numerous programming languages, we have selected Java, because it is one of the most popular programming languages.
</p>
<p>
Special thanks to <strong class="name">Elham Nikoo</strong> for helping us in drawings of this application.
</p>
</div>
