<div class="container" id="consent-box">
  {{#link-to 'new' class="btn btn-primary" id="back-button" tagName="button"}}
    Back to Menu
  {{/link-to}}
<h2 id="consent-title"> Want to win a $10 Amazon gift card?</h2>
<p>
  I would like to invite you to participate in a research project. CodeReadingDojo is a new educationally-oriented mobile game application, aimed at promoting the development of code reading skills in a new and fun way. Data collected during the project will help evaluate the impact of game-based learning on code reading, and results will be published in academic papers and a master’s thesis.
</p>
<p>
All data obtained from participants will be kept confidential and will only be reported in combined format. We won’t use your name or any other personally identifiable information in any publications.
</p>
<p>
Your participation is voluntary and will not affect your grades or relationship with Virginia Tech in any way. Participation in this research will not place you at more than minimal risk of physical or psychological harm. If you agree to participate, you are also giving us permission to use collected data (such as game level completed and completion time) in our research. If you do not wish to participate, simply do not agree at the bottom; you still can play the game. You are free not to answer any questions or withdraw from this study at any time, for any reason. You must be 18 or older to take part in this research. If you are under 18 but still want to play the game, please select disagree below.
</p>
<p>
Playing with CodeReadingDojo until you reach level 6 should take approximately an hour, although you may also want to continue to the last level (level 18). You will be able to play each level more than once.
</p>
<p>
In exchange for your participation, all people who have completed through level 6 in the game by January 31st 2017 will be entered into a raffle where 20 players will be selected each to receive a $10 Amazon gift card.
</p>
<p>
Should you have any questions about this study, you may contact Zahra Ghaed (principal investigator), at 540-449-5717, ghaed@vt.edu or Prof. Stephen Edwards, edwards@cs.vt.edu.
</p>
<p>
Should you have any questions or concerns about the study’s conduct or your rights as a research subject, or need to report a research-related injury or event, you may contact the VT IRB Chair, Dr. David M. Moore at moored@vt.edu or (540) 231-4991.
</p>

</div>
