<div class="container" id="about">
  {{#link-to 'new' class="btn btn-primary" id="back" tagName="button"}}
    Back
  {{/link-to}}
  {{#link-to 'new'}}
    <img id="new-logo" src="assets/images/logo.png">
  {{/link-to}}
<h2 id="consent-title">Contact</h2>
<p>
If you have any questions about this application, you may contact me, Zahra Ghaed, at <strong class="name">ghaed@vt.edu</strong> or Prof. Stephen Edwards, edwards@cs.vt.edu.
</p>
<p> </p>
</div>
