<div class="jumbotron text-center">
<p>Contact us today:</p>

<p>
  Department of Computer Science at Virginia Tech
  <address>
    2202 Kraft Drive <br>
    Blacksburg VA 24060
  </address>
</p>
</div>

<p><a href="tel:503.555.1212">(503)555-1212</a></p>

<p><a href="mailto:ghaed@vt.edu">ghaed@vt.edu</a></p>
