<div class="jumbotron text-center">
<h1 id="index-title">CodeReadingDojo</h1>
<h4>A new and fun way to find bugs!</h4>

<img id="index-logo" src="assets/images/logo.png" >
<br/><br/>
{{#if session.isAuthenticated}}
<!-- {{#link-to 'info' class="btn btn-primary" id="survey"}}
  Info Survey
{{/link-to}} -->
{{#link-to 'new' class="btn btn-primary btn-lg" id="play"}}Play{{/link-to}}
{{#link-to 'instruction' id="skip-ready"}}
  Instruction
{{/link-to}}
{{else}}

<h3>Welcome!</h3>
<p>
CodeReadingDojo is an educationally-oriented mobile game aimed at promoting Java reading skills.
</p>
{{#link-to 'signup' class="btn btn-primary" id="signup"}}
  Sign Up
{{/link-to}}
{{#link-to 'new' id="skip-login" invokeAction=(action 'setLevel')}}
  Quick Play
{{/link-to}}

{{/if}}
<br/><br/>
</div>
