<div class="container" id="about">
  {{#link-to 'new' class="btn btn-primary" id="back" tagName="button"}}
    Back
  {{/link-to}}
  {{#link-to 'new'}}
    <img id="new-logo" src="assets/images/logo.png">
  {{/link-to}}
<h2 id="consent-title">Instruction</h2>
<p>
CodeReadingDojo is a new educationally-oriented mobile game application, aimed at promoting the development of code reading skills in a new and fun way.
</p>
<p>
  The strategy of this game is to find errors in pieces of Java codes.
  At each level, players should find syntactic and semantic errors in the code in a certain time in order to advance to the next level.
  To find the errors in the code, simply mark mistakes by touch.
</p>
<p>
  There are 18 levels overall. As players go futher in the game the level difficulty will be increased and there will be more errors to find.
</p>
</div>
