<div class="jumbotron text-center">
  <img id="new-logo" src="assets/images/logo.png" >
  <h1 id="index-title">CodeReadingDojo</h1>
  <h4>Sign in to CodeReadingDojo</h4>
    <div class="form-horizontal form-group form-group-lg row">
        <div id="signin-container" class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-md-4 col-md-offset-4">
            <form {{action 'authenticate' on='submit'}}>
              <p class="user-pass" for="identification">Login</p>
              {{input id='identification' class="form-control" placeholder='Enter Login' value=identification}}
              <p class="user-pass" for="password">Password</p>
              {{input id='password' class="form-control" placeholder='Enter Password' type='password' value=password}}
              <button id="index-button" class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
              {{#if errorMessage}}
                <p>{{errorMessage}}</p>
              {{/if}}
            </form>
            <!-- {{#link-to 'new' class="btn btn-primary btn-lg" id="new"}}
              new3
            {{/link-to}} -->
        </div>
    </div>

</div>
