<div class="container" id="about">

  {{#link-to 'new' class="btn btn-primary" id="back" tagName="button"}}
    Back
  {{/link-to}}
  {{#link-to 'new'}}
    <img id="new-logo" src="assets/images/logo.png">
  {{/link-to}}

<h2 id="consent-title">Privacy Statement</h2>
<p>
 Our privacy statement can be found here:
 </p>
 <p>
    <a href="#" id="privacy-link">http://codereadingdojo.cs.vt.edu/static_pages/privacy</a>
</p>

</div>
