<div class="container">

    <form id="contact" >
    {{#link-to 'new' class="btn btn-primary" id="back-button" tagName="button"}}
      Back to Menu
    {{/link-to}}

    {{#each model as |user|}}
      {{#if (eq user.email session.data.email)}}
        {{#if (nnull user.password)}}
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Email</th>
          <td>{{user.email}}</td>
        </tr>

        <tr>
          <th scope="row">Levelcompleted</th>
          <td>{{user.levelcompleted}}</td>
        </tr>
      </tbody>
    </table>

       
    <label>My data can be used for research purposes
      {{#link-to 'consent'}}
        <i class="material-icons">mode_edit</i>
      {{/link-to}}
    </label>

       
  {{/if}}
  {{/if}}
  {{/each}}
  {{#link-to 'info' tagName="button" id="play"}}
    Complete your Profile
  {{/link-to}}

  </form>


</div>
