<div class="jumbotron text-center">
<img id="new-logo" src="assets/images/logo.png" >

<button  id='confirm-button' class="btn btn-primary bt-lg" {{action "getCurrentUrl" "clicked"}}>Ready?</button>

</div>
{{#each model as |program|}}
  {{#if (eq clicked 'true')}}
    {{#if (eq program.difficulty "beginner")}}
      {{#if (eq program.level currentUrl)}}
      {{x-timer autoStart='true' format='HH:MM:SS' stopRequired=false}}
          {{program-details program=program}}
          {{#link-to 'completed' (add currentUrl '1') tagName="button" invokeAction=(action 'clicked')}}
            NEXT LEVEL
          {{/link-to}}
      {{/if}}
      {{/if}}
    {{/if}}
  {{/each}}
