<div class="jumbotron text-center">
  {{#link-to 'new'}}
    <img id="new-logo" src="assets/images/logo.png">
  {{/link-to}}
{{#if (eq clicked 'false')}}
  <p>
  Click the word that you think is wrong. You need to find at least three errors in the code.
  </p>
  <button  id='confirm-button' class="btn btn-primary bt-lg" {{action "getCurrentUrl" "clicked"}}>Ready?</button>
{{/if}}
</div>
{{#each model as |program|}}
  {{#if (eq clicked 'true')}}

      {{#if (eq program.level currentUrl)}}
          {{#link-to 'new' class="btn btn-primary" id="back-button" tagName="button" invokeAction=(action 'clicked')}}
            Back to Menu
          {{/link-to}}

          {{program-details program=program}}
          <span class="next-level-none" id="next">
            {{#link-to 'completed' (add currentUrl '1') tagName="button" invokeAction=(action 'clicked') class="btn btn-primary btn-lg" id="next-button"}}
              Next Level
            {{/link-to}}
          </span>

    {{/if}}
  {{/if}}
{{/each}}
