<div class="jumbotron text-center">
  {{#link-to 'new'}}
    <img id="new-logo" src="assets/images/logo.png">
  {{/link-to}}
{{#if (eq clicked 'false')}}
  <p>
  Mark mistakes by touch.
</p>
<p>
   You need to find at least three errors in the code.
  </p>
  <button  id='confirm-button' class="btn btn-primary bt-lg" {{action "getCurrentUrl" "clicked"}}>Ready?</button>
  {{#link-to 'new' id="skip-ready"}}
  Back to Menu
  {{/link-to}}
{{/if}}
</div>
{{#each model as |program|}}
  {{#if (eq clicked 'true')}}

      {{#if (eq program.level currentUrl)}}

      {{#link-to 'new'}}
        <img id="new-logo" src={{concat (concat "assets/images/beginner/" program.level) ".png"}}>
      {{/link-to}}
      <div class="next-level-none" id="next">
        <center>
        {{#link-to 'completed' (add currentUrl '1') tagName="button" invokeAction=(action 'clicked') class="btn btn-primary btn-lg" id="next-button"}}
          Next Level
        {{/link-to}}
      </center>
      </div>
          {{program-details program=program}}
          {{#link-to 'new' class="btn btn-primary" id="back-button" tagName="button" invokeAction=(action 'clicked')}}
            Back to Menu
          {{/link-to}}
          <div class="next-level-none" id="next">
            {{#link-to 'completed' (add currentUrl '1') tagName="button" invokeAction=(action 'clicked') class="btn btn-primary btn-lg" id="next-button"}}
              Next Level
            {{/link-to}}
          </div>

    {{/if}}
  {{/if}}
{{/each}}
