{{#if session.isAuthenticated}}
  <p>Signed in as {{session.data.email}}</p>
<!-- {{else}}
  <button onclick={{action 'login'}}>Login</button> -->
{{/if}}
<img id="new-logo" src="assets/images/logo.png" />
<div class="container">
  <form id="contact" action="" method="post">
<!-- <div class="wrap">

  <form > -->
    <label class="beginner-statement">
      Please indicate how strongly you agree or disagree with all the following statements.
    </label>

    <label class="statement">1. Using CodeReadingDojo improves my code reading skills in Java.</label>
    <ul class='likert'>
      <li>
        <input type="radio" name="likert1" value="strong_agree">
        <label>Strongly agree</label>
      </li>
      <li>
        <input type="radio" name="likert1" value="strong_agree">
        <label>Agree</label>
      </li>
      <li>
        <input type="radio" name="likert1" value="strong_agree">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="likert1" value="disagree">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="likert1" value="strong_agree">
        <label>Strongly disagree</label>
      </li>
    </ul>
    <label class="statement">2. Using CodeReadingDojo improves my code writing skills in Java.</label>
    <ul class='likert'>
      <li>
        <input type="radio" name="likert2" value="strong_agree">
        <label>Strongly agree</label>
      </li>
      <li>
        <input type="radio" name="likert2" value="strong_agree">
        <label>Agree</label>
      </li>
      <li>
        <input type="radio" name="likert2" value="strong_agree">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="likert2" value="disagree">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="likert2" value="strong_agree">
        <label>Strongly disagree</label>
      </li>
    </ul>
    <label class="statement">3. Using CodeReadingDojo improves my abbility to find errors in my own program.</label>
    <ul class='likert'>
      <li>
        <input type="radio" name="likert3" value="strong_agree">
        <label>Strongly agree</label>
      </li>
      <li>
        <input type="radio" name="likert3" value="strong_agree">
        <label>Agree</label>
      </li>
      <li>
        <input type="radio" name="likert3" value="strong_agree">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="likert3" value="disagree">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="likert3" value="strong_agree">
        <label>Strongly disagree</label>
      </li>
    </ul>
    <label class="statement">4. CodeReadingDojo improves my overall programming ability.</label>
    <ul class='likert'>
      <li>
        <input type="radio" name="likert4" value="strong_agree">
        <label>Strongly agree</label>
      </li>
      <li>
        <input type="radio" name="likert4" value="strong_agree">
        <label>Agree</label>
      </li>
      <li>
        <input type="radio" name="likert4" value="strong_agree">
        <label>Neutral</label>
      </li>
      <li>
        <input type="radio" name="likert4" value="disagree">
        <label>Disagree</label>
      </li>
      <li>
        <input type="radio" name="likert4" value="strong_agree">
        <label>Strongly disagree</label>
      </li>
    </ul>
    <label class="beginner-statement">We're asking these questions to make this game a better experiece. By answering to this questions you're giving permission to use your answers for research purposes.
  </label>
    <div class="buttons">
      <button class="btn btn-primary btn-s clear">Clear</button>
      {{#link-to 'survey' class="btn btn-primary btn-s submit" }}Submit{{/link-to}}
    </div>
  </form>
</div>
