
<!-- <div class="jumbotron text-center">
  <img id="new-logo" src="assets/images/logo.png" />
</div> -->
<img id="new-logo" src="assets/images/logo.png" />

<p class="questions">
  Please indicate how strongly you agree or disagree with all the following statements.
</p>
<p id="survey-two">
  <!-- The answers in this survey will be used for research purposes. -->
  We're asking these questions to make this game a better experiece. By answering to this questions you're giving permission to use your answers for research purposes.
</p>
<p class="questions">
  1. Using CodeReadingDojo improves my code reading skills in Java.
</p>
<p class="answers">
{{#radio-button
    radioId="purple-radio"
    radioClass="my-custom-class"
    value="purple"
    groupValue=color
    changed="colorChanged"}}
    Strongly disagree
{{/radio-button}}
{{#radio-button
    radioId="purple-radio"
    radioClass="my-custom-class"
    value="purple"
    groupValue=color
    changed="colorChanged"}}
    Disagree
{{/radio-button}}
{{#radio-button
    radioId="purple-radio"
    radioClass="my-custom-class"
    value="purple"
    groupValue=color
    changed="colorChanged"}}
    Neutral
{{/radio-button}}
{{#radio-button
    radioId="purple-radio"
    radioClass="my-custom-class"
    value="purple"
    groupValue=color
    changed="colorChanged"}}
    Agree
{{/radio-button}}
{{#radio-button
    radioId="purple-radio"
    radioClass="my-custom-class"
    value="purple"
    groupValue=color
    changed="colorChanged"}}
    Strongly agree
{{/radio-button}}
</p>

<p class="questions">
  2. Using CodeReadingDojo improves my code writing skills in Java.
</p>
<p class="answers">
{{#radio-button
    radioId="purple-radio"
    radioClass="my-custom-class"
    value="purple"
    groupValue=color
    changed="colorChanged"}}
    Strongly disagree
{{/radio-button}}
{{#radio-button
    radioId="purple-radio"
    radioClass="my-custom-class"
    value="purple"
    groupValue=color
    changed="colorChanged"}}
    Disagree
{{/radio-button}}
{{#radio-button
    radioId="purple-radio"
    radioClass="my-custom-class"
    value="purple"
    groupValue=color
    changed="colorChanged"}}
    Neutral
{{/radio-button}}
{{#radio-button
    radioId="purple-radio"
    radioClass="my-custom-class"
    value="purple"
    groupValue=color
    changed="colorChanged"}}
    Agree
{{/radio-button}}
{{#radio-button
    radioId="purple-radio"
    radioClass="my-custom-class"
    value="purple"
    groupValue=color
    changed="colorChanged"}}
    Strongly agree
{{/radio-button}}
</p>

<p class="questions">
  3. Using CodeReadingDojo improves my abbility to find errors in my own program.

<!-- {{#rl-dropdown-container class="dropdown"}}
  {{#rl-dropdown-toggle class="btn btn-default"}}
    Select <span class="caret"></span>
  {{/rl-dropdown-toggle}}

  {{#rl-dropdown tagName="ul" class="dropdown-menu" closeOnChildClick="a:link"}}
    <li><a href="#">Strongly Agree</a></li>
    <li><a href="#">Agree</a></li>
    <li><a href="#">Disagree</a></li>
  {{/rl-dropdown}}
{{/rl-dropdown-container}} -->
</p>
<p class="answers">
{{#radio-button
    radioId="purple-radio"
    radioClass="my-custom-class"
    value="purple"
    groupValue=color
    changed="colorChanged"}}
    Strongly disagree
{{/radio-button}}
{{#radio-button
    radioId="purple-radio"
    radioClass="my-custom-class"
    value="purple"
    groupValue=color
    changed="colorChanged"}}
    Disagree
{{/radio-button}}
{{#radio-button
    radioId="purple-radio"
    radioClass="my-custom-class"
    value="purple"
    groupValue=color
    changed="colorChanged"}}
    Neutral
{{/radio-button}}
{{#radio-button
    radioId="purple-radio"
    radioClass="my-custom-class"
    value="purple"
    groupValue=color
    changed="colorChanged"}}
    Agree
{{/radio-button}}
{{#radio-button
    radioId="purple-radio"
    radioClass="my-custom-class"
    value="purple"
    groupValue=color
    changed="colorChanged"}}
    Strongly agree
{{/radio-button}}
</p>

<p class="questions">
  4. CodeReadingDojo helps me to being a better programmer.
</p>
<p class="answers">
{{#radio-button
    radioId="purple-radio"
    radioClass="my-custom-class"
    value="purple"
    groupValue=color
    changed="colorChanged"}}
    Strongly disagree
{{/radio-button}}
{{#radio-button
    radioId="purple-radio"
    radioClass="my-custom-class"
    value="purple"
    groupValue=color
    changed="colorChanged"}}
    Disagree
{{/radio-button}}
{{#radio-button
    radioId="purple-radio"
    radioClass="my-custom-class"
    value="purple"
    groupValue=color
    changed="colorChanged"}}
    Neutral
{{/radio-button}}
{{#radio-button
    radioId="purple-radio"
    radioClass="my-custom-class"
    value="purple"
    groupValue=color
    changed="colorChanged"}}
    Agree
{{/radio-button}}
{{#radio-button
    radioId="purple-radio"
    radioClass="my-custom-class"
    value="purple"
    groupValue=color
    changed="colorChanged"}}
    Strongly agree
{{/radio-button}}
</p>

<button id="survey-button" class="btn btn-primary btn-lg btn-block"  type="submit">Submit</button>
